@font-face {
  font-family: "GilroyLight";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "GilroyLight", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-weight: bold;
  /* background: rgb(11, 11, 37); */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  /* height: 100vh; */
}

.header::before {
  content: "";
  background: url(/img/photo-1544534902-3fc187aa0e54.avif) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(80%);
  animation: change 10s infinite ease-out;
  justify-content: center;
}

/* @keyframes change {
  20% {
    background-image: url(/img/treelake.avif);
  }
  40% {
    background-image: url(/img/photo-1544534902-3fc187aa0e54.avif);
  }
  60% {
    background-image: url(/img/homepage2000.jpg);
  }
  80% {
    background-image: url(/img/homepage-trees2000.jpg);
  }
} */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
}

.navbar img {
  position: absolute;
  top: 15px;
  right: 1300px;
}

.navbar .main-list {
  margin-top: 20px;
  margin-right: 600px;
  display: flex;
  align-items: center;
}

.navbar > ul .top-list {
  color: white;
  margin-right: 40px;
}

.get-started {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 450px;
  width: 164px;
  min-height: 48px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
}

.get-started:hover {
  background: #0c5153;
  color: #fff;
}

.benefits-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.benefits-list a {
  color: rgb(0, 63, 69);
  display: inline-block;
  margin-bottom: 30px;
}

.benefits:hover .benefits-list {
  visibility: visible;
  opacity: 1;
}

.who-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.who-opener {
  padding-bottom: 35px;
}

.benefits-opener {
  padding-bottom: 35px;
}

.who-list a {
  color: #0c5153;
  display: inline-block;
  margin-bottom: 30px;
}

.blog a {
  color: #fff;
  margin-bottom: 30px;
}

.who:hover .who-list {
  visibility: visible;
  opacity: 1;
}

.middle-section {
  display: flex;
  height: 600px;
  width: 500px;
  margin-left: 450px;
  flex-direction: column;
  margin-top: 200px;
}

.heading {
  color: #fff;
  line-height: 78px;
  font-size: 35px;
  font-weight: 600;
  /* font-family: "GilroyExtraBold"; */
}

.heading h1 {
  /* margin-bottom: 20px; */
}

.heading p {
  font-size: 16px;
  font-weight: bold;
}

.heading img {
  position: absolute;
  top: 450px;
  left: 845px;
}

.email-input {
  height: 60px;
  width: 323px;
  border-radius: 6px;
  /* border: solid 0.5px #fff; */
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  background-color: RGBA(0, 0, 0, 0.7);
  text-align: inherit;
  padding: 20px;
  font-family: "GilroyLight";
  font-size: 18px;
  color: #fff;
}

.email-input::placeholder {
  font-family: "GilroyLight";
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;

  /* background: transparent; */
  color: #fff;
}

.email-input:focus {
  outline-style: solid;
  /* border-color: blue; */
}

.get-card {
  cursor: pointer;
  position: absolute;
  left: 795px;
  top: 504px;
  right: 450px;
  width: 153px;
  min-height: 60px;
  padding-top: 17px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  font-weight: 600;
}

.get-card:hover {
  background: #0c5153;
  color: #fff;
}

.mini-text {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  vertical-align: baseline;
  margin-top: 24px;
  font-weight: 500;
  text-align: left;
}

.bottom-logos {
  /* margin-right: 500px; */
  margin-left: 300px;
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-logos > div {
  margin-left: 140px;
}

.container-page2 {
  /* max-width: 1100px; */
  display: flex;
  height: 100vh;
}

.main {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  /* margin-right: 200px; */
  /* padding: 100px 300px; */
  align-items: center;
  margin-bottom: 150px;
}

.main h1 {
  /* font-family: "GilroyExtraBold"; */
  font-size: 80px;
  color: #0c5153;
  line-height: normal;
  font-weight: 800;
}

.main h2 {
  font-size: 40px;
  font-weight: 800;

  color: #00ae70;
}

.main p {
  /* margin-left: 50px; */
  font-size: 20px;
  padding-top: 25px;
  padding-left: 120px;
  padding-right: 150px;
  margin-bottom: 30px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons > div {
  margin-bottom: 60px;
}

.info-icons {
  margin-top: 110px;
}

.icons {
  margin-top: 150px;
  margin-right: 20px;
}

.info-icons {
  margin-right: 90px;
}

.info-icons > div {
  margin-bottom: 60px;
}

.parent {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-template-rows: 100px repeat(2, 200px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #fff;
  color: RGB(29, 29, 29);
  grid-gap: 1px;
  border-radius: 20px;
  /* border: 1px solid #0c5153; */
  margin-top: 20px;
  /* margin-bottom: 500px; */
}

.div1 {
  padding-top: 35px;
  text-align: center;
  /* border: #fff solid 1px; */
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  padding-top: 35px;
  text-align: center;
  color: #fff;
  border: #fff solid 1px;
  grid-area: 1 / 2 / 2 / 3;
  background: #00ae70;
}
.div3 {
  padding-top: 35px;
  text-align: center;
  border: #fff solid 1px;
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  padding-top: 35px;
  text-align: center;
  /* border: #fff solid 1px; */
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: #fff solid 1px;
  grid-area: 2 / 1 / 3 / 2;
}

.div5 > div {
  margin: 20px 0px;
}

.div6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: #fff solid 1px; */
  grid-area: 3 / 1 / 4 / 2;
}

.div6 > div {
  margin: 20px 0px;
}
.div7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  border: #fff solid 1px;
  grid-area: 2 / 2 / 3 / 3;
  background: #00ae70;
}

.div7 > div {
  margin: 20px 0px;
}

.div8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: #fff solid 1px;
  grid-area: 2 / 3 / 3 / 4;
}

.div8 > div {
  margin: 20px 0px;
}

.div9 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: #fff solid 1px;
  grid-area: 2 / 4 / 3 / 5;
}

.div9 > div {
  margin: 20px 0px;
}

.div10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: #fff solid 1px;
  grid-area: 3 / 2 / 4 / 3;
  background: #00ae70;
}

.div10 > div {
  margin: 20px 0px;
}

.div11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: #fff solid 1px; */
  grid-area: 3 / 3 / 4 / 4;
}

.div11 > div {
  margin: 20px 0px;
}

.div12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: #fff solid 1px; */
  grid-area: 3 / 4 / 4 / 5;
}

.div12 > div {
  margin: 20px 0px;
}
