@font-face {
  font-family: "GilroyLight";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "GilroyLight", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  /* background: rgb(11, 11, 37); */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  /* height: 100vh; */
}

.header::before {
  content: "";
  background: url(/img/homepage-trees2000.jpg) no-repeat center center/cover;

  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(80%);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
}

.navbar img {
  position: absolute;
  top: 15px;
  right: 1300px;
}

.navbar .main-list {
  margin-top: 20px;
  margin-right: 600px;
  display: flex;
  align-items: center;
}

.navbar > ul .top-list {
  color: white;
  margin-right: 40px;
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 450px;
  width: 164px;
  min-height: 48px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
}

.btn:hover {
  background: #0c5153;
  color: #fff;
}

.benefits-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.benefits-list a {
  color: #0c5153;
  display: inline-block;
  margin-bottom: 30px;
}

.benefits:hover .benefits-list {
  visibility: visible;
  opacity: 1;
}

.who-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.who-list a {
  color: #0c5153;
  display: inline-block;
  margin-bottom: 30px;
}

.who:hover .who-list {
  visibility: visible;
  opacity: 1;
}

.middle-section {
  display: flex;
  height: 600px;
  width: 500px;
  margin-left: 450px;
  flex-direction: column;
  margin-top: 200px;
}

.heading {
  color: #fff;
  line-height: 78px;
  font-size: 30px;
  /* font-weight: 800; */
  /* font-family: "GilroyExtraBold"; */
}

.heading p {
  font-size: 16px;
  font-weight: bold;
}

.heading img {
  position: absolute;
  top: 450px;
  left: 845px;
}
