@font-face {
  font-family: "GilroyLight";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url(/fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "GilroyLight", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-weight: bold;
  /* background: rgb(11, 11, 37); */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  /* height: 100vh; */
}

.header::before {
  content: "";
  background: url(/img/photo-1544534902-3fc187aa0e54.avif) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(80%);
  animation: change 120s infinite ease-out;
  justify-content: center;
}

@keyframes change {
  25% {
    background-image: url(/img/treelake.avif);
  }
  50% {
    background-image: url(/img/homepage2000.jpg);
  }
  75% {
    background-image: url(/img/photo-1544534902-3fc187aa0e54.avif);
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
}

.navbar img {
  position: absolute;
  top: 15px;
  right: 1300px;
}

.navbar .main-list {
  margin-top: 20px;
  margin-right: 600px;
  display: flex;
  align-items: center;
}

.navbar > ul .top-list {
  color: white;
  margin-right: 40px;
}

.get-started {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 450px;
  width: 164px;
  min-height: 48px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
}

.get-started:hover {
  background: #0c5153;
  color: #fff;
}

.benefits-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.benefits-list a {
  color: rgb(0, 63, 69);
  display: inline-block;
  margin-bottom: 30px;
}

.benefits:hover .benefits-list {
  visibility: visible;
  opacity: 1;
}

.who-list {
  position: absolute;
  top: 85px;
  background: #fff;
  color: #0c5153;
  border-radius: 6px;
  width: 300px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 25px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.who-list a {
  color: #0c5153;
  display: inline-block;
  margin-bottom: 30px;
}

.who:hover .who-list {
  visibility: visible;
  opacity: 1;
}

.middle-section {
  display: flex;
  height: 600px;
  width: 500px;
  margin-left: 450px;
  flex-direction: column;
  margin-top: 200px;
}

.heading {
  color: #fff;
  line-height: 78px;
  font-size: 35px;
  font-weight: 600;
  /* font-family: "GilroyExtraBold"; */
}

.heading h1 {
  /* margin-bottom: 20px; */
}

.heading p {
  font-size: 16px;
  font-weight: bold;
}

.heading img {
  position: absolute;
  top: 450px;
  left: 845px;
}

.email-input {
  height: 60px;
  width: 323px;
  border-radius: 6px;
  /* border: solid 0.5px #fff; */
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  background-color: RGBA(0, 0, 0, 0.7);
  text-align: inherit;
  padding: 20px;
  font-family: "GilroyLight";
  font-size: 18px;
  color: #fff;
}

.email-input::placeholder {
  font-family: "GilroyLight";
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;

  /* background: transparent; */
  color: #fff;
}

.email-input:focus {
  outline-style: solid;
  /* border-color: blue; */
}

.get-card {
  cursor: pointer;
  position: absolute;
  left: 795px;
  top: 504px;
  right: 450px;
  width: 153px;
  min-height: 60px;
  padding-top: 17px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  font-weight: 600;
}

.get-card:hover {
  background: #0c5153;
  color: #fff;
}

.mini-text {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  vertical-align: baseline;
  margin-top: 24px;
  font-weight: 500;
  text-align: left;
}

.bottom-logos {
  /* margin-right: 500px; */
  margin-left: 300px;
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-logos > div {
  margin-left: 140px;
}
